.mainContent {
  width: 50%;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.streamingNow {
  height: 10%;
}
.centerContent {
  height: 65%;
}
.lower {
  height: 20%;
}

.streamingNowList {
  display: flex;
}

.content {
  height: 94%;
  display: flex;
}
