.navBar {
  width: 20%;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colored {
  color: orange;
}

.logo {
  display: flex;
  align-items: center;
}

.navigation {
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.navigationItem {
  padding: 5px;
  color: #afafaf;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.navLabel {
  margin-left: 10px;
}

.navigationItem:hover {
  border-left: 5px solid lightgray;
  color: black;
}
.navigationItem:hover > .navIcons {
  color: orange;
}

.userDetails {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
